<div class="modal" ng-if="picker.showModal">
  <div class="modal-overlay" ng-click="picker.showModal = false"></div>
  <div class="card modal-card">
    <h3 class="subheading">
      This a sample text file
    </h3>

    <div class="sample-file">
      <ul>
        <li>
          $15.05
        </li>
        <li>
          mixed fruit,$2.15
        </li>
        <li>
          french fries,$2.75
        </li>
        <li>
          side salad,$3.35
        </li>
        <li>
          hot wings,$3.55
        </li>
        <li>
          mozzarella sticks,$4.20
        </li>
        <li>
          sampler plate,$5.80
        </li>
      </ul>
    </div>

    <span class="label">
      - Your budget goes on the first line.
    </span>

    <span class="label">
      - Your menu items go on each subsequent line (one per line).
    </span>

    <span class="label">
      - The name of each item is first, followed by a comma, followed by the price.
    </span>
  </div>
</div>
